<head>
	<meta charset="UTF-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet">

	<link rel='stylesheet' type='text/css' href='/style.css'/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

	<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="MTc5MDY3YTMtMzQ0NS00Mzc3LWE1MmItMDcwMDFjMDNkMmU2NjM2ODM2MjYzMjYwNzAyNTA5" id="snipcart"></script>

	<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

	<link rel="icon" type="image/png" href="/assets/images/BKP-6x6.png" alt="BKP"/>

	<title>
		Bee Keep
	</title>

</head>
