<body>

	<!--shop-->
	<div class="item" min-height="80vh";>
                <div class="hex">
                  <div class="hexIn">
                    <a class="hexLink" href="#">
                      <img src={{ page.img }} alt="red 2.5x3">
                      <h1>Collect for: </h1>
                      <p>
                        <body class="snipcart-add-item"
                        data-item-id="2"
                        data-item-name="Bacon"
                        data-item-price="3.00"
                        data-item-weight="20"
                        data-item-url="http://myapp.com/products/bacon"
                        data-item-description="Some fresh bacon">
                        {{ page.price }}
                        </body>
                      </p>
                    </a>
                  </div>
    </div>
    <p>{{ page.description }}</p>
    <p>{{ page.features }}</p>
    </div>
</body>
