<body>
<p><br/><br>This site is currently in test mode:<br/>Therefore, purchasing is disabled :)</p>
	<!--shop-->
	<div min-height="80vh";>
			<ul class="shop">
                {% for product in site.products %}
                      <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href={{ product.url }}>
                            <img src={{ product.img }} alt="red 2.5x3">
                            <h1>{{ product.data-item-name }}</h1>
                            <p>
                              <body>
                              Collect for: ${{ product.data-item-price }}
                              </body>
                            </p>
                          </a>
                        </div>
                      </li>
                {% endfor %}
            </ul>
    </div>
</body>
