<li class="hex">
  <div class="hexIn">
    <a class="hexLink" href="#">
        <img src="https://beekeep.us/assets/images/BKP_white1002.png" alt="white 2.5x3">
        <h1>2.5 x 3 White 'BKP' Decal</h1>
      <p>
        <body class="snipcart-add-item"
        data-item-id="2"
        data-item-name="Bacon"
        data-item-price="3.00"
        data-item-weight="20"
        data-item-url="http://myapp.com/products/bacon"
        data-item-description="Some fresh bacon">
        Collect for $7.99
        </body>
      </p>
    </a>
  </div>
</li>
